[init]
	defaultBranch = main
[pull]
	rebase = false
[user]
	name = Jorge Mederos
	email = jmederosalvarado@gmail.com
	signingkey = D59753444A22789C
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    wt = worktree
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    bare = "!sh $HOME/.dots/scripts/git-bare.sh"
