[init]
	defaultBranch = main
[pull]
	rebase = false
[user]
	name = Jorge Mederos
	email = 46798594+jmederosalvarado@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOjJUdBorQUi19pxojdhcXEWI4fQg4dZ5PM9lZ4XEeKd
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    wt = worktree
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    bare = "!sh $HOME/.dots/scripts/git-bare.sh"
    # `git log` with patches shown with difftastic.
    dl = -c diff.external=difft log -p --ext-diff
    # Show the most recent commit with difftastic.
    ds = -c diff.external=difft show --ext-diff
    # `git diff` with difftastic.
    dft = -c diff.external=difft diff
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
